footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 7rem;
}
.footerLogo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;

}
footer a {
    color: var(--color-bg);
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.footerS {
    display: flex;
    justify-content: center ;
    gap: 4rem;
    margin-bottom: 4rem;
}
.footerS a {
    color: var(--color-white);
    background: var(--color-bg);
    padding: 0.7rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}
.footerS a:hover {
    color: var(--color-bg);
    background: transparent;
    border-color: var(--color-bg);
}
.copy {
    color: var(--color-bg);
    margin-bottom: 4rem;
}
@media screen and (max-width: 600px) {
            .links {
                flex-direction: column;
                gap: 1.5rem;
            }
            .footerS {
                margin-bottom: 2.6rem;
            }
}