.portCon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2.5rem;
}
.portItem {
    background: var(--color-bg-varient);
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    padding: 15px;
    position: relative;
} 
.portItem:hover {
    background: transparent;
    border-color: var(--color-primary-varient);
    cursor: default;
} 
.portImg {
    border-radius: 1.5rem;
    overflow: hidden;
    width: 100%;
    height: 130px;
   
    

}
.portImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portItem h3 {
    margin: 1.2rem 0 1.2rem;
}
.portCTA {
    display: flex;
    gap: 1rem;
   
}

